:root
{
      --link-div-clr:#d5d5d5;
}
.contact
{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      opacity: 0;
      transform: translateY(20px);
      transition: all .3s ease-in-out;
}
.contact-links
{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      margin-top: 3rem;
}
.contact-links img{
      width:80%;
}
.contact-icon-div
{
      display: flex;
      align-items: center;
      justify-content:center;
      background-color: var(--link-div-clr);
      width: 5rem;
      height: 5rem;
      border-radius: 1rem;
}
.email-icon-div
{
      display:flex;
      justify-content:center;
      align-items:center;
      width:fit-content;
      border-radius:1rem;
      background-color:var(--link-div-clr);
}
.emailClass
{
      color: white;
      transition: all .2s ease;
}
.emailClass:hover
{
      opacity: .8 ;
}
/*media queries*/
@media (max-width:376px)
{
      .contact-links
      {
            margin-bottom: 3rem;
      }      
}