.about
{
      display: flex;
      justify-items: space-around;
      align-items: center;
      gap: 4rem;
      padding-top: 5rem;
      padding-inline: 3%;
}
.about img{
      width: 22rem;
      border-radius: 2rem;
}
.about-content
{
      display: flex;
      flex-direction: column;
}
.leftTranslate
{
      animation: fromLeft .6s linear 0s 1 normal forwards;
}
.rightTranslate
{
      animation: fromRight .6s linear 0s 1 normal forwards;
}
@keyframes fromLeft {
      from
      {
            transform: translateX(-60rem);
            opacity: 0;
      }
      to
      {
            transform: translateX(0);
            opacity: 1;
            transition: all .6s linear;
      }
      
}
@keyframes fromRight {
      from
      {
            transform: translateX(60rem);
            opacity: 0;
      }
      to
      {
            transform: translateX(0);
            opacity: 1;
            transition: all .8s linear;
      }
      
}
/* media queries */
@media(max-width:856px)
{
      .about
      {
            flex-direction: column;
      }
}
@media (max-width:375px)
{
      .about img
      {
            width: 20rem;
      }      
}
@media (max-width:321px)
{
      .about img 
      {
            width: 17rem;
      }     
}