.about
{
      display: flex;
      justify-items: space-around;
      align-items: center;
      gap: 4rem;
      padding-top: 5rem;
      padding-inline: 3%; 

      opacity: 0;
      transform: translateY(40px);
      transition: all .3s ease-in-out;
}
.about img{
      width: 22rem;
      border-radius: 2rem;
}
.about-content
{
      display: flex;
      flex-direction: column;
}
/* media queries */
@media(max-width:856px)
{
      .about
      {
            flex-direction: column;
      }
}
@media (max-width:375px)
{
      .about img
      {
            width: 20rem;
      }      
}
@media (max-width:321px)
{
      .about img 
      {
            width: 17rem;
      }     
}